body {
    padding-top: 50px;
    height: 100%;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
    height: auto;
    min-height: 100%;
}
#math-input {
    width: 625px;
    height: 175px;
}
footer {
    clear: both;
    text-align: center;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}
