/* Page layout */

body {
    padding-top: 50px;
    box-sizing: border-box;
    height: 100%;
}

.starter-template {
    padding: 15px 15px;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Calculation controls */

#toolbar {
    height: 40px;
    line-height: 40px;
    text-align: left;
}

#toolbar .btn-toolbar {
    float: right;
}

#submit {
    width: 100%;
}

#result-container {
    position: relative;
    border: 1px solid black;
    min-height: 40px;
    width: 100%;
}

#result-title {
    position: absolute;
    left: 10px;
    top: -10px;
    background-color: white;
    height: 10px;
    width: 50px;
}

#error-result {
    color: red;
    width: 100%;
    margin-top: 10px;
    display: inline-block;
    overflow-wrap: break-word;
}

#result {
    width: 100%;
}

.result-formatted {
    max-width: 79%;
    margin-top: 10px;
    display: inline-block;
    overflow-wrap: break-word;
}

#result button {
    position: absolute;
    height: 30px;
    right: 5px;
    top: 5px;
    min-width: 10%;
}

#help-btn {
    font-family: 'Glyphicons Halflings';
}

/* Logs */

#log-table-row {
    max-height: 60%;
    overflow-y: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#log-table {
    width: 100%;
}

#log-table > div:nth-child(1) {
    overflow: auto;
    height: calc(100% - 40px);
}

#log-table button {
    position: absolute;
    bottom: 0;
    right: 0;
}

#log-table table {
    table-layout: fixed;
    word-wrap: break-word;
}

.glyphicon-edit {
    cursor: pointer;
}

#clear-logs-btn {
    width: 100%;
}

/* Right panel */

#user-vars {
    margin: 0 auto;
    white-space: nowrap;
    table-layout: fixed;
}

#user-vars td {
    overflow: hidden;
    text-overflow: ellipsis;
}

#bound-vars-row {
    margin-top: 20px;
}

table .glyphicon-remove {
    opacity: 0;
    transition: all 0.1s ease-in-out;
    float: right;
    padding-top: 3px;
}

tr:hover .glyphicon-remove {
    opacity: 100;
    text-decoration: none;
    color: black;
}

.table.table-bordered td,
.table.table-bordered th {
    border-left: 0;
    border-right: 0;
}

#reset-row {
    margin-top: 10px;
}

#reset {
    width: 100%;
}

/* Other */

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}
