body {
    padding-top: 50px;
    box-sizing: border-box;
    height: 100%;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
    height: 100%;
    position: relative;
}

#log-table {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 60%;
}

#log-table > div:nth-child(1) {
    overflow: auto;
    height: calc(100% - 40px);
}

#log-table button {
    position: absolute;
    bottom: 0;
    right: 0;
}

#log-table table {
    table-layout: fixed;
    word-wrap: break-word;
}

#toolbar {
    height: 40px;
    line-height: 40px;
}

#submit {
    position: relative;
    top: 10px;
    width: 100px;
}

#result {
    height: 20px;
    line-height: 20px;
    display: block;
}

#help-btn {
    font-family: 'Glyphicons Halflings';
}

.error {
    color: red;
}

.glyphicon-remove {
    opacity: 0;
    transition: all 0.1s ease-in-out;
    float: right;
    padding-top: 3px;
}

tr:hover .glyphicon-remove {
    opacity: 100;
    text-decoration: none;
    color: black;
}

.table.table-bordered td,
.table.table-bordered th {
    border-left: 0;
    border-right: 0;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}
