.variables {
    position: absolute;
    margin-top: 50px;
    right: 100px;
    width: 200px;
}

.variables #reset {
    margin-top: 10px;
}

.calculate {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#calculate-input {
    margin: 15px 0 20px 0;
}

.calculate label {
    font-size: 20px;
}

#result {
    font-size: 60px;
    color: rgb(0, 186, 0);
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}
